# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [4]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [3]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [5]:
df_one = data.groupby(['CustomerID','ProductName']).agg({'Quantity':np.sum}).reset_index()
df_one

       CustomerID                    ProductName  Quantity
0              33               Apricots - Dried         1
1              33              Assorted Desserts         1
2              33        Bandage - Flexible Neon         1
3              33  Bar Mix - Pina Colada, 355 Ml         1
4              33         Beans - Kidney, Canned         1
...           ...                            ...       ...
63623       98200                   Vol Au Vents        50
63624       98200                  Wasabi Powder        25
63625       98200       Wine - Fume Blanc Fetzer        25
63626       98200  Wine - Hardys Bankside Shiraz        25
63627       98200        Yogurt - French Vanilla        25

[63628 rows x 3 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [6]:
df_two = data.pivot_table(index="ProductName", columns='CustomerID' ,values="Quantity", aggfunc=np.sum, fill_value=0)
df_two.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Appetizer - Mini Egg Roll, Shrimp",0,0,0,0,0,0,0,0,0,0,...,25,25,0,0,0,0,0,0,0,0
Appetizer - Mushroom Tart,0,0,0,0,0,0,0,1,0,0,...,25,0,0,0,0,0,0,0,25,0
Appetizer - Sausage Rolls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,25,25,25,0,25,0
Apricots - Dried,1,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,0,0,0,0,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [8]:

from scipy.spatial.distance import pdist, squareform

cust_similarity = pd.DataFrame(1/(1+ squareform(pdist(df_two.T, 'euclidean'))), index=df_two.columns, columns=df_two.columns)
cust_similarity

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [9]:
cust_simil = cust_similarity[33].sort_values(ascending=False)[1:6]
cust_simil

CustomerID
264     0.087047
3535    0.087047
3317    0.087047
2503    0.085983
3305    0.085638
Name: 33, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [11]:
top_five = df_one[df_one['CustomerID'].isin(cust_simil.index)].sort_values('CustomerID')
top_five.head()

     CustomerID                  ProductName  Quantity
131         264            Apricots - Halves         1
164         264       Muffin Mix - Blueberry         1
165         264     Mushrooms - Black, Dried         2
166         264  Oil - Shortening,liqud, Fry         1
167         264  Pastry - Butterscotch Baked         1

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [12]:
df_records = pd.DataFrame(top_five.groupby('ProductName')['Quantity'].sum().sort_values(ascending=False)).reset_index()
df_records.head()

                     ProductName  Quantity
0              Butter - Unsalted         3
1   Soup - Campbells Bean Medley         3
2         Towels - Paper / Kraft         3
3  Wine - Ej Gallo Sierra Valley         3
4          Pepper - Black, Whole         3

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [18]:
top_products = set(df_records['ProductName'].unique()) - set(top_five[top_five['CustomerID'] == 33]['ProductName'].unique())
top_products

{'Anchovy Paste - 56 G Tube',
 'Appetizer - Mushroom Tart',
 'Appetizer - Sausage Rolls',
 'Apricots - Dried',
 'Apricots - Halves',
 'Apricots Fresh',
 'Bacardi Breezer - Tropical',
 'Bagel - Plain',
 'Banana - Leaves',
 'Bananas',
 'Bandage - Fexible 1x3',
 'Bandage - Flexible Neon',
 'Bar - Granola Trail Mix Fruit Nut',
 'Bay Leaf',
 'Beans - Wax',
 'Beef - Chuck, Boneless',
 'Beef - Ground Medium',
 'Beef - Inside Round',
 'Beef - Montreal Smoked Brisket',
 'Beef - Rib Eye Aaa',
 'Beef - Short Loin',
 'Beef - Tenderlion, Center Cut',
 'Beef - Top Sirloin - Aaa',
 'Beef Ground Medium',
 'Beef Wellington',
 'Beets - Candy Cane, Organic',
 'Berry Brulee',
 'Bread - English Muffin',
 'Bread - Multigrain',
 'Bread - Roll, Canadian Dinner',
 'Bread Crumbs - Panko',
 'Bread Foccacia Whole',
 'Broom - Corn',
 'Butter - Unsalted',
 'Cake - Cake Sheet Macaroon',
 'Cheese - Boursin, Garlic / Herbs',
 'Cheese - Brie, Triple Creme',
 'Cheese - Cambozola',
 'Cheese - Parmesan Cubes',
 'Cheese - Taleggio D.o.p.',
 'Cheese - Victor Et Berthold',
 'Cheese Cloth No 100',
 'Chef Hat 20cm',
 'Chicken - Soup Base',
 'Chinese Foods - Chicken',
 'Chocolate - Dark',
 'Cocoa Butter',
 'Cod - Black Whole Fillet',
 'Coffee - Dark Roast',
 'Coffee Decaf Colombian',
 'Cookie Chocolate Chip With',
 'Corn Meal',
 'Cornflakes',
 'Crab - Dungeness, Whole',
 'Crab - Imitation Flakes',
 'Crackers - Trio',
 'Cream Of Tartar',
 'Creme De Banane - Marie',
 'Crush - Cream Soda',
 'Cumin - Whole',
 'Cup - 6oz, Foam',
 'Cup - Translucent 7 Oz Clear',
 'Curry Paste - Madras',
 'Dc Hikiage Hira Huba',
 'Doilies - 5, Paper',
 'Dried Figs',
 'Duck - Breast',
 'Ecolab - Mikroklene 4/4 L',
 'Ecolab - Solid Fusion',
 'Eggplant - Asian',
 'Extract - Lemon',
 'Ezy Change Mophandle',
 'Fenngreek Seed',
 'Fish - Scallops, Cold Smoked',
 'Flour - Teff',
 'Foam Dinner Plate',
 'Fond - Neutral',
 'Fondant - Icing',
 'Fuji Apples',
 'Garbage Bags - Clear',
 'Garlic - Elephant',
 'Grouper - Fresh',
 'Guinea Fowl',
 'Halibut - Steaks',
 'Hersey Shakes',
 'Hinge W Undercut',
 'Ice Cream Bar - Hageen Daz To',
 'Jagermeister',
 'Jolt Cola - Electric Blue',
 'Juice - Lime',
 'Juice - Orange',
 'Kellogs Special K Cereal',
 'Ketchup - Tomato',
 'Kiwi',
 'Knife Plastic - White',
 'Lamb - Ground',
 'Lamb - Pieces, Diced',
 'Langers - Ruby Red Grapfruit',
 'Lemonade - Natural, 591 Ml',
 'Lettuce - California Mix',
 'Lettuce - Spring Mix',
 'Mayonnaise - Individual Pkg',
 'Milk - 2%',
 'Milk Powder',
 'Muffin Batt - Blueberry Passion',
 'Muffin Mix - Blueberry',
 'Mushrooms - Black, Dried',
 'Nantucket - Pomegranate Pear',
 'Nut - Chestnuts, Whole',
 'Ocean Spray - Kiwi Strawberry',
 'Ocean Spray - Ruby Red',
 'Oil - Safflower',
 'Oil - Shortening - All - Purpose',
 'Oil - Shortening,liqud, Fry',
 'Olive - Spread Tapenade',
 'Olives - Stuffed',
 'Oranges - Navel, 72',
 'Oregano - Dry, Rubbed',
 'Pail For Lid 1537',
 'Pants Custom Dry Clean',
 'Pasta - Detalini, White, Fresh',
 'Pasta - Orecchiette',
 'Pasta - Penne, Rigate, Dry',
 'Pastry - Butterscotch Baked',
 'Pastry - Cheese Baked Scones',
 'Pastry - Choclate Baked',
 'Pate - Cognac',
 'Peas - Pigeon, Dry',
 'Pecan Raisin - Tarts',
 'Pepper - Black, Whole',
 'Pepper - Paprika, Hungarian',
 'Pepper - White, Ground',
 'Pepsi - Diet, 355 Ml',
 'Phyllo Dough',
 'Pie Filling - Cherry',
 'Placemat - Scallop, White',
 'Pork - Bacon, Double Smoked',
 'Pork - Hock And Feet Attached',
 'Pork - Inside',
 'Pork - Kidney',
 'Pork - Loin, Bone - In',
 'Potatoes - Idaho 100 Count',
 'Quiche Assorted',
 'Raspberries - Fresh',
 'Remy Red',
 'Rosemary - Primerba, Paste',
 'Sage - Ground',
 'Salmon - Sockeye Raw',
 'Salsify, Organic',
 'Sardines',
 'Sauce - Gravy, Au Jus, Mix',
 'Sauce - Hollandaise',
 'Sauce - Rosee',
 'Sauerkraut',
 'Sausage - Breakfast',
 'Sausage - Liver',
 'Scallop - St. Jaques',
 'Scallops - 10/20',
 'Scallops 60/80 Iqf',
 'Scampi Tail',
 'Sea Bass - Whole',
 'Sherry - Dry',
 'Shrimp - 31/40',
 'Shrimp - Baby, Warm Water',
 'Skirt - 29 Foot',
 'Smoked Paprika',
 'Snapple Lemon Tea',
 'Sole - Dover, Whole, Fresh',
 'Soup - Campbells Bean Medley',
 'Soup - Campbells, Beef Barley',
 'Soup - Campbells, Cream Of',
 'Soup - Canadian Pea, Dry Mix',
 'Soup Campbells - Italian Wedding',
 'Soupfoamcont12oz 112con',
 'Sponge Cake Mix - Chocolate',
 'Steam Pan - Half Size Deep',
 'Sugar - Fine',
 'Sun - Dried Tomatoes',
 'Sword Pick Asst',
 'Table Cloth 54x72 White',
 'Tahini Paste',
 'Tart Shells - Sweet, 4',
 'Tea - Decaf Lipton',
 'Tea - Herbal Sweet Dreams',
 'Tia Maria',
 'Tofu - Firm',
 'Towels - Paper / Kraft',
 'Tray - 16in Rnd Blk',
 'Turkey - Oven Roast Breast',
 'Turkey - Whole, Fresh',
 'Vaccum Bag 10x13',
 'Veal - Inside',
 'Veal - Inside, Choice',
 'Veal - Osso Bucco',
 'Veal - Slab Bacon',
 'Veal - Sweetbread',
 'Vol Au Vents',
 'Wanton Wrap',
 'Water, Tap',
 'Wine - Blue Nun Qualitatswein',
 'Wine - Chablis 2003 Champs',
 'Wine - Chardonnay South',
 'Wine - Crozes Hermitage E.',
 'Wine - Ej Gallo Sierra Valley',
 'Wine - Gato Negro Cabernet',
 'Wine - Magnotta - Belpaese',
 'Wine - Magnotta - Cab Sauv',
 'Wine - Magnotta, Merlot Sr Vqa',
 'Wine - Pinot Noir Latour',
 'Wine - Red, Cooking',
 'Wine - Redchard Merritt',
 'Wine - Sogrape Mateus Rose',
 'Wine - White Cab Sauv.on',
 'Wine - White, Schroder And Schyl',
 'Wine - Wyndham Estate Bin 777',
 'Wonton Wrappers',
 'Yoghurt Tubes',
 'Yogurt - French Vanilla'}

In [22]:
top_five = df_records[df_records['ProductName'].isin(top_products)].sort_values(by='Quantity', ascending=False)
top_five.head()

                     ProductName  Quantity
0              Butter - Unsalted         3
2         Towels - Paper / Kraft         3
3  Wine - Ej Gallo Sierra Valley         3
4          Pepper - Black, Whole         3
5  Wine - Blue Nun Qualitatswein         3

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.